* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    color: #767676;
    line-height: 1.7;
    font-size: 14px;
    font-weight: 400;
    font-family: 'popin';
}
@font-face {
    font-family: 'popin';
    src: url(/themify-icons/fonts/Poppins/Poppins-Black.ttf);
}

a {
    text-decoration: none !important;
    color: #000 !important;
}

li {
    list-style: none;
}



/* sửa ảnh user */
.user img {
    width: 252px;
    height: 300px;
}

/* .user{
  margin-left: 30px;
} */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    background-color: #fff;
}

.title {
    z-index: 1;
    width: 100%;
    height: auto;
    background-color: white;
}

.title .header-link-icon i {
    font-size: 18px;
    color: #676767;
}

/* css  acount*/
.account{
    width: 200px;
    display: none;
    background-color: #fff;
    position: fixed;
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 5px 8px 5px #888888;
    z-index: 1011;
    
}
.btn-user:hover .account{
    display: block;
}
/* css shop */

.shop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 350px;
    display: none; 
    background-color: #fff;
    border: 1px solid;
    box-shadow: 5px 5px 8px 5px #888888;
    z-index: 1011;
    animation: move 0.2s ease-in-out;
}
@keyframes move {
    from{
        transform: translateX(400px);
    }
    to{
        transform: translateX(0);
    }
}
.shop>.icon-close{
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #000;
}
.open{
    display: block;
}
.shop 
.cart,.order{
  background-color: #f3f3f3;
  width: 200px;
padding: 10px 0px;
  margin: 0 auto;
border-radius: 50px;
  font-size: 16px;
}
.shop 
.order:hover{
  background-color: #767676;
}
.shop 
.cart:hover{
  background-color: #767676;
}
.nav-overlay.open {
    display: block;
}

.nav-overlay {
    position: fixed;
    top: 0;
    right: 350px;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    display: none;
}

/* .btn-shop:hover .shop{
    display: block;
} */
/* css menu */
/* .menu{
    display: none;
} */
.col-12 {
    max-width: 100%;
}

li>a {
    font-size: 14px;
    color: #676767;
}

.menu ul {
    width: 100%;
    position: relative;
    padding: 0;
}

.menu ul li {
    padding: 5px 0px;
    line-height: 43px;

}

.menu .menu-destop>ul>li>a {
    color: #676767;
    font-size: 14px;
    font-weight: 400px;
}

.menu .menu-sub>li {
    border-bottom: 1px dotted #f2f2f2;
    width: 100%;
}

.menu .menu-sub {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 250px;
}

.menu ul>li:hover .menu-sub {
    display: block;
    z-index: 1;
}

.menu ul>li:hover .menu-sub-gold {
    display: block;
    z-index: 1;
}

.menu-sub>li {
    padding: 10px 10px !important;
}

.menu .menu-sub .menu-sub-child {
    margin-left: 240px;
    margin-top: -52px;
}

.menu .menu-sub-child {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 250px;
}

.menu .drop-down li:hover .menu-sub-child {
    display: block;
}


.menu-sub-gold {
    display: none;
    position: absolute;
    background-color: #fff;
    left: -4%;
    width: 100%;
}

.mega-title>a {
    text-transform: uppercase;
}

.mega-menu>li>a {
    padding: 0px !important;
}

.menu ul li:hover .menu-sub- {
    display: block;
    z-index: 1;
}

/* css menu mobile */
.menu-mobile.open {
    display: block;
}

.title-mobile {
    display: none;
}

.icon-menu-mobile {
    display: none;
}

.menu-mobile {
    display: none;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 350px;
    z-index: 1;
    transition: all ease-in-out .5s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 350px;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    display: none;
}

.overlay.open1 {
    display: block;
}

.icon-close-menu>i {
    font-size: 22px;
    color: #000;
    background-color: #676767;
    position: absolute;
    right: -40px;
    padding: 10px;
}


/* css banner */



/* css video */

/* display: none;
 position: absolute;
 background-color: #fff;
 z-index: 1010;

 max-width: 100%;
 padding: 30px;
 left: 10%; */


/* cart */
.title>th {
    background-color: #636363;
    color: #fff;
}

.container table th {
    text-align: center;
}

.cart-update>a>.btn-secondary {
    padding: 10px 100px;
}

.pro-add {
    float: right;
}

/* checkout */
.checkout-title {
    border-bottom: 3px solid #363636;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.btn-dathang {
    float: right;
}

/*detail - product */
.detail-product-main .product-img>img {
    width: 400px;
    height: 400px;

}

.slick-slider .btn-img>img {
    width: 60px;
    height: 60px;
    margin: 0px 20px;
}

.product-price>p {
    color: #c4854d;
    font-weight: 600;
    font-size: 22px;
}

/* css new */
.new-product-main .single-new>img {
    width: 100%;
}

.slick-slide img {
    width: 80%;
}
.slider-new img{
    width: 100%;
}

/* ///// */
.cardto {
    position: relative;
    overflow: hidden;
    /* background-color: rgb(237, 237, 237); */

}

.addtocart {
    position: absolute;
    /* top: 75%; */
    margin: 0 4rem;
    transform: translateY(450px);
}

.cardto:hover .addtocart {
    transition: 1s ease-in-out;
    transform: translateY(250px);
}

.heart {
    position: absolute;
    right: 3%;
    padding: 5px;
}

.heart button {
    border: none;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {

    background-color: black;


}

.connect button {
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white
}

/* nguyệt */

/* ĐĂNG NHẬP */

/* SỬA TÀI KHOẢN */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%),
        0 2px 6px 0 rgb(206 206 238 / 54%);
}

.me-2 {
    margin-right: 0.5rem !important;
}

/* TRANG GIỚI THIỆU */
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}
/* slider-img */

.container-fluid .slider-img .user img{
    height: 550px;
    width: 270px;
}

/* loadsptheodm */
main{
    margin-top: 200px;
}
/*  */
.cart-main{
    margin-top: 200px;
}
.check-main{
    margin-top: 200px;
}
.quenmk{
    margin-top: 200px;
}
.new-product-main{
    margin-top: 200px;
}
.detail-product-main{
    margin-top: 200px;
}
.edit-tk{
    margin-top: 200px;
}
.card-img{
    overflow: hidden;
}
.card img{
transition: all 0.4s ease-in-out;

}
.card .product-img-sale:hover{
  transform: scale(1.2);
}

 .card-dm{
    height: 320px !important;
    position: relative;
}

.card-btn>button{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    left: 33%;
    bottom: 40px;
    transition: all .2s ease-in-out;
    opacity: 0;
}
.card-dm:hover .card-btn>button{
opacity: 1;
bottom: 70px;
} 
 

/* css thêm giỏ hàng  */
.card_topsp{
    height: 370px !important;
    position: relative;
}
 .card-btn>button a{
  color: #fff !important; 
 } 
.card-btn>button{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    left: 30%;
    bottom: 40px;
    background-color: #CC8811;
    transition: all .2s ease-in-out;    
    opacity: 0;
}
.card_topsp:hover .card-btn>button{
opacity: 1;
bottom: 120px;
}
.cardto:hover .card-btn>button{
    opacity: 1;
    bottom: 140px;
    } 

/* css nút mua ngay */
.product .buy-product a{
  background-color: #000;
  color: #fff !important;
  position: relative;
  z-index: 1;
 
}
.product .buy-product a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #C69967;
    z-index: -1;
    transition: height 0.2s ease-in;
}
.product .buy-product a:hover::before {
    height: 0;
}
/* css sizze */
.size{
    flex-direction: column;
}
/* css logo  */

/* .logo>img{
    margin-top: -10px;
    width: 140px;
    height: 80px;
}
/* css bình luận  */
.comment>form>input{
  border-bottom: 1px solid black !important;
  width: 280px;
}
.comment>form>button{
    border: none;
    padding: 8px;
    border-radius: 20px; 
}

input:focus{
    outline: none;
}
.formbl{
    height: 400px;
}
.footer{
    background-color: #f7f7f7;
}
.btn-binhluan button{
    border: none;
    background-color: #fff;
}

/* đơn hàng */
.b{
    display: flex;
}
.z{
    margin: 40px;
}
.order1{
    margin-top: 200px;
    margin-bottom: 50px;
    /* box-shadow: 2px 2px 4px 1px #888888; */
    height: auto;
}
.total-money{
    margin-left: 40px;
    /* align-items: end;
    fl */
    float: right;
    margin-right: 20px;
}

.btn>button{
    border: none;
}

/* css sửa xóa bình luận */
.contain-comment input{
    border: none;
}
.update-comment{
    display: none;
}
.update-bl{
    display: flex;
    /* justify-content: space-between; */
}
.btn-update:hover .update-comment{
  display: block;
}
.update-comment>button{
    /* display: block; */
    border: none;
    margin: 10px 0px;
    background-color: #fff;
  }

  /* css mockup-cart */

  .mockup-cart{
    background-color: #fff;
    width: 300px;
    height: 120px;
    position: fixed;
    top: 45%;
    left: 40%;
    box-shadow: 2px 2px 6px 2px #888888;
    display: none;
  }
  .mockup-cart.open1{
    display: block;
  }

  .icon-success i{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    font-size: 32px;
    color: green;
  }
  .icon-success>p{
    text-align: center;
  }
  .instruct-size{
    background-color: #fff;
    width: 700px;
    height: 580px;
    position: fixed;
    top: 5%;
    left: 32%;
    box-shadow: 2px 2px 6px 2px #888888;
    z-index: 1012;
    display: none;
    animation: size 0.3s ease-in-out;
  }
  @keyframes size{
    from{
  transform: translateY(-200px);
    }
    to{
        transform: translateY(0);
    }
  }
  .instruct-size.openSize{
    display: block;
  }
  .instruct-size>i{
    position: absolute;
    top: 10px;
    right: 10px;
  }
    .instruct-size>h4{
     margin: 20px 0px 0px 45px;
    }
  .instruct-size>img{
    width: 600px;
    height: 440px;
    margin: 50px 0px 0px 50px;
  }
  .action_link_size>.btnsize{
    border: none;
    background-color: #fff;
  }
  .action_link_size>button:hover{
   font-size: 16px;
   transition: ease-in-out 0.2s;
  }